<nav id="sidebar">
    <div class="sidebar-header">
        <h1>Grand App Name</h1>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="/"> Home </a>
        </li>

        <li>
            <a href="/perlines"> Perline Circles </a>
        </li>

        <li>
            <a href="/boids"> Boids </a>
        </li>

        <li>
            <a href="/fluids"> Fluids </a>
        </li>

        <li>
            <a href="/pong"> Pong </a>
        </li>

        <li>
            <a href="/fireworks"> Fireworks </a>
        </li>

        <li>
            <a href="/pendule"> Pendule </a>
        </li>
    </ul>
</nav>